h1 {
    color: rgb(31, 146, 223);
}

* {
    border: solid;
}
.header{
    background-color: rgb(216, 182, 211);
    display :flex;
    justify-content: space-between;
}   
.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
   

}
.footer{
    display:flex;
    justify-content: flex-end;
}
body{
    background-color: rgb(223, 235, 246);
    border-bottom-color: rgb(79, 197, 99);
    border-bottom-style: dotted;
    border-left-color: rgb(184, 102, 102);
    border-left-style: dashed;
    border-right-color: rgb(202, 202, 118);
    border-right-style: outset;
    border-top-color: rgb(183, 71, 157);
    border-top-style: double;
    border-width: 10px;
}